@charset "UTF-8";

body {
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
}
h2 {
    color: rgb(15, 0, 231);
}
p {
    text-align: justify;
}